html{
    height: 100%;
}
h1{
    text-align: center;
}

body{
    
    background-image: url("https://res.cloudinary.com/lizziedaws/image/upload/v1569897313/giulia-gasperini-OiQrx4WWmto-unsplash_hu2xtx.jpg");
    background-size: cover;
}

p{
    margin-left: 18%;
}

.table{
    background-color: white;
    color: black;
    font-family: Arial;
    font-size: 12px;
    border-radius: 15px;
    display: relative;
    margin-right: 1%;
    padding: 2%;
    text-align: right;
    margin-left: 50%;
    margin-top: 1%;
}

.form-control{
    float: right;
    font-family: Arial;
    font-size: 10px;
}

input[type=text] {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  input[type=password]{
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  input[type=date]{
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  

  .inputbox{
        width: 100%;
        padding: 8px 15px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 10px;
  }

  form {
    width: 500px;
    height: 450px;
    
    position: relative;
  }

  .table{
      max-width: 450px;
      min-width: 100px;
      max-height: 500px;
      min-height: 150px;
      display: relative;

  }